.skills {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    column-gap: 1rem;
}

.skills h3 {
    margin: 0;
    padding-top: 1rem;
}

.skills .hard-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem ;
    justify-items: center;
    padding: 1rem 0 1rem;
}

.skills .hard-skills img {
    width: 50px;
    height: 50px;
}

.skills .soft-skills {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 1rem;
    padding-inline-start: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .skills {
        justify-items: normal;
    }
    .skills h3 {
        text-align: center;
    }

    .skills .soft-skills {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 375px) {

    .skills {
        display: flex;
        flex-direction: column;
    }

}